<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/4604d48a-71cf-4d65-983b-214bdd98ea8d/resourceGroups/rg-puzzle/providers/Microsoft.ContainerRegistry/registries/crge05</ResourceId>
    <ResourceName>crge05</ResourceName>
    <ResourceGroup>rg-puzzle</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>crge05.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>4214c939-03c0-4932-802d-956c8a355b4b</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>